
a{
        color:rgb(255, 255, 255);
        font-size:20px
    }
.title{
    background-color:blueviolet;
    margin-top:10px;
    margin-bottom: 10px;
    color:white;
    font-size:20px;
   
}
.middle_img{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
    width: 80%;
}
.quater{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: block;
    width: 80%;
}
body{
    background-color: aliceblue;
}


