{%extends 'mysite_login/base.html'%}
{%block title%}404{%endblock%}
{%block css%}
<link rel="stylesheet" type="text/css" href="/static/project/css/dandelion.css"  media="screen" />
{%endblock%}


{%block content%}
{%if message%}
<label>{{message}}</label>
{%endif%}
    <div id="da-wrapper" class="fluid">
        <div id="da-content">
            <div class="da-container clearfix">
            	<div id="da-error-wrapper">
                   	<div id="da-error-pin"></div>
                    <div id="da-error-code">
                        error <span>404</span>                    
                    </div>
                	<h1 class="da-error-heading">您没有测序数据，请联系您的测序服务公司！</h1>
                    <center><a href="/index/"><h3>返回首页</h3></a></center>
                    <center><a href="{%url 'project:demo' username=request.session.user_name%}"><h3 id='btn_send' style='font-weight: bold;font-size: 30px;'>拉取demo数据</h3></a></center>
                </div>
            </div>
        </div>
    </div>
    
{%endblock%}
{%block js%}
<script src="/static/project/js/alert.js"></script>
<script>pull_demo();</script>
{%endblock%}